

 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:Courier;
	panose-1:2 7 4 9 2 2 5 2 4 4;}
@font-face
	{font-family:"Tms Rmn";
	panose-1:2 2 6 3 4 5 5 2 3 4;}
@font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:"New York";
	panose-1:2 4 5 3 6 5 6 2 3 4;}
@font-face
	{font-family:System;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"MS Mincho";
	panose-1:2 2 6 9 4 2 5 8 3 4;}
@font-face
	{font-family:Batang;
	panose-1:2 3 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:PMingLiU;
	panose-1:2 2 5 0 0 0 0 0 0 0;}
@font-face
	{font-family:"MS Gothic";
	panose-1:2 11 6 9 7 2 5 8 2 4;}
@font-face
	{font-family:Dotum;
	panose-1:2 11 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:黑体;
	panose-1:2 1 6 9 6 1 1 1 1 1;}
@font-face
	{font-family:MingLiU;
	panose-1:2 2 5 9 0 0 0 0 0 0;}
@font-face
	{font-family:Mincho;
	panose-1:2 2 6 9 4 3 5 8 3 5;}
@font-face
	{font-family:Gulim;
	panose-1:2 11 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:Century;
	panose-1:2 4 6 4 5 5 5 2 3 4;}
@font-face
	{font-family:"Angsana New";
	panose-1:2 2 6 3 5 4 5 2 3 4;}
@font-face
	{font-family:"Cordia New";
	panose-1:2 11 3 4 2 2 2 2 2 4;}
@font-face
	{font-family:Mangal;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Latha;
	panose-1:2 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Sylfaen;
	panose-1:1 10 5 2 5 3 6 3 3 3;}
@font-face
	{font-family:Vrinda;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Raavi;
	panose-1:2 0 5 0 0 0 0 0 0 0;}
@font-face
	{font-family:Shruti;
	panose-1:2 0 5 0 0 0 0 0 0 0;}
@font-face
	{font-family:Sendnya;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Gautami;
	panose-1:2 0 5 0 0 0 0 0 0 0;}
@font-face
	{font-family:Tunga;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Estrangelo Edessa";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Yu Gothic";
	panose-1:2 11 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:等线;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Calibri Light";
	panose-1:2 15 3 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Palatino Linotype";
	panose-1:2 4 5 2 5 5 5 3 3 4;}
@font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"等线 Light";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"Segoe UI Emoji";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:"Microsoft YaHei UI";
	panose-1:2 11 5 3 2 2 4 2 2 4;}
@font-face
	{font-family:方正准雅宋_GBK;}
@font-face
	{font-family:"STHeiti light";}
@font-face
	{font-family:楷体;
	panose-1:2 1 6 9 6 1 1 1 1 1;}
@font-face
	{font-family:"\@等线";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@等线 Light";}
@font-face
	{font-family:"\@Microsoft YaHei UI";}
@font-face
	{font-family:"\@黑体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
h1
	{mso-style-link:"标题 1 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
h2
	{mso-style-link:"标题 2 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
h3
	{mso-style-link:"标题 3 字符";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:130%;
	font-size:16.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
h4
	{mso-style-link:"标题 4 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
h5
	{mso-style-link:"标题 5 字符";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:130%;
	font-size:16.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
h6
	{mso-style-link:"标题 6 字符";
	margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	line-height:115%;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:等线;
	color:#2F5496;
	font-weight:bold;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"标题 7 字符";
	margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	line-height:115%;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:等线;
	color:#595959;
	font-weight:bold;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{mso-style-link:"标题 8 字符";
	margin:0cm;
	line-height:115%;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:等线;
	color:#595959;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{mso-style-link:"标题 9 字符";
	margin:0cm;
	line-height:115%;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:等线;
	color:#595959;}
p.MsoIndex1, li.MsoIndex1, div.MsoIndex1
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex2, li.MsoIndex2, div.MsoIndex2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex3, li.MsoIndex3, div.MsoIndex3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:20.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex4, li.MsoIndex4, div.MsoIndex4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:30.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex5, li.MsoIndex5, div.MsoIndex5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:40.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex6, li.MsoIndex6, div.MsoIndex6
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:50.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex7, li.MsoIndex7, div.MsoIndex7
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:60.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex8, li.MsoIndex8, div.MsoIndex8
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:70.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoIndex9, li.MsoIndex9, div.MsoIndex9
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:80.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:42.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:63.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:84.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:105.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:126.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:147.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:168.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{mso-style-link:"脚注文本 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:115%;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:等线;}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	{mso-style-link:"批注文字 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"页眉 字符";
	margin:0cm;
	text-align:center;
	line-height:normal;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:等线;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"页脚 字符";
	margin:0cm;
	line-height:normal;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:等线;}
p.MsoIndexHeading, li.MsoIndexHeading, div.MsoIndexHeading
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:"等线 Light";
	font-weight:bold;}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.0pt;
	font-family:"等线 Light";}
p.MsoTof, li.MsoTof, div.MsoTof
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoEnvelopeAddress, li.MsoEnvelopeAddress, div.MsoEnvelopeAddress
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	layout-grid-mode:char;
	font-size:12.0pt;
	font-family:"等线 Light";}
p.MsoEnvelopeReturn, li.MsoEnvelopeReturn, div.MsoEnvelopeReturn
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	layout-grid-mode:char;
	font-size:10.5pt;
	font-family:"等线 Light";}
span.MsoFootnoteReference
	{vertical-align:super;}
p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText
	{mso-style-link:"尾注文本 字符";
	margin:0cm;
	line-height:normal;
	layout-grid-mode:char;
	font-size:10.5pt;
	font-family:等线;}
p.MsoToa, li.MsoToa, div.MsoToa
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoMacroText, li.MsoMacroText, div.MsoMacroText
	{mso-style-link:"宏文本 字符";
	margin:0cm;
	line-height:normal;
	layout-grid-mode:char;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Courier New";}
p.MsoToaHeading, li.MsoToaHeading, div.MsoToaHeading
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:12.0pt;
	font-family:"等线 Light";}
p.MsoList, li.MsoList, div.MsoList
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListCxSpFirst, li.MsoListCxSpFirst, div.MsoListCxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListCxSpMiddle, li.MsoListCxSpMiddle, div.MsoListCxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListCxSpLast, li.MsoListCxSpLast, div.MsoListCxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet, li.MsoListBullet, div.MsoListBullet
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBulletCxSpFirst, li.MsoListBulletCxSpFirst, div.MsoListBulletCxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBulletCxSpMiddle, li.MsoListBulletCxSpMiddle, div.MsoListBulletCxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBulletCxSpLast, li.MsoListBulletCxSpLast, div.MsoListBulletCxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber, li.MsoListNumber, div.MsoListNumber
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumberCxSpFirst, li.MsoListNumberCxSpFirst, div.MsoListNumberCxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumberCxSpMiddle, li.MsoListNumberCxSpMiddle, div.MsoListNumberCxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumberCxSpLast, li.MsoListNumberCxSpLast, div.MsoListNumberCxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList2, li.MsoList2, div.MsoList2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList2CxSpFirst, li.MsoList2CxSpFirst, div.MsoList2CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList2CxSpMiddle, li.MsoList2CxSpMiddle, div.MsoList2CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList2CxSpLast, li.MsoList2CxSpLast, div.MsoList2CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList3, li.MsoList3, div.MsoList3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList3CxSpFirst, li.MsoList3CxSpFirst, div.MsoList3CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList3CxSpMiddle, li.MsoList3CxSpMiddle, div.MsoList3CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList3CxSpLast, li.MsoList3CxSpLast, div.MsoList3CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList4, li.MsoList4, div.MsoList4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList4CxSpFirst, li.MsoList4CxSpFirst, div.MsoList4CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList4CxSpMiddle, li.MsoList4CxSpMiddle, div.MsoList4CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList4CxSpLast, li.MsoList4CxSpLast, div.MsoList4CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList5, li.MsoList5, div.MsoList5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList5CxSpFirst, li.MsoList5CxSpFirst, div.MsoList5CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList5CxSpMiddle, li.MsoList5CxSpMiddle, div.MsoList5CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoList5CxSpLast, li.MsoList5CxSpLast, div.MsoList5CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-10.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet2, li.MsoListBullet2, div.MsoListBullet2
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet2CxSpFirst, li.MsoListBullet2CxSpFirst, div.MsoListBullet2CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet2CxSpMiddle, li.MsoListBullet2CxSpMiddle, div.MsoListBullet2CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet2CxSpLast, li.MsoListBullet2CxSpLast, div.MsoListBullet2CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet3, li.MsoListBullet3, div.MsoListBullet3
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet3CxSpFirst, li.MsoListBullet3CxSpFirst, div.MsoListBullet3CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet3CxSpMiddle, li.MsoListBullet3CxSpMiddle, div.MsoListBullet3CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet3CxSpLast, li.MsoListBullet3CxSpLast, div.MsoListBullet3CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet4, li.MsoListBullet4, div.MsoListBullet4
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet4CxSpFirst, li.MsoListBullet4CxSpFirst, div.MsoListBullet4CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet4CxSpMiddle, li.MsoListBullet4CxSpMiddle, div.MsoListBullet4CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet4CxSpLast, li.MsoListBullet4CxSpLast, div.MsoListBullet4CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet5, li.MsoListBullet5, div.MsoListBullet5
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet5CxSpFirst, li.MsoListBullet5CxSpFirst, div.MsoListBullet5CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet5CxSpMiddle, li.MsoListBullet5CxSpMiddle, div.MsoListBullet5CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListBullet5CxSpLast, li.MsoListBullet5CxSpLast, div.MsoListBullet5CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber2, li.MsoListNumber2, div.MsoListNumber2
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber2CxSpFirst, li.MsoListNumber2CxSpFirst, div.MsoListNumber2CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber2CxSpMiddle, li.MsoListNumber2CxSpMiddle, div.MsoListNumber2CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber2CxSpLast, li.MsoListNumber2CxSpLast, div.MsoListNumber2CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber3, li.MsoListNumber3, div.MsoListNumber3
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber3CxSpFirst, li.MsoListNumber3CxSpFirst, div.MsoListNumber3CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber3CxSpMiddle, li.MsoListNumber3CxSpMiddle, div.MsoListNumber3CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber3CxSpLast, li.MsoListNumber3CxSpLast, div.MsoListNumber3CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber4, li.MsoListNumber4, div.MsoListNumber4
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber4CxSpFirst, li.MsoListNumber4CxSpFirst, div.MsoListNumber4CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber4CxSpMiddle, li.MsoListNumber4CxSpMiddle, div.MsoListNumber4CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber4CxSpLast, li.MsoListNumber4CxSpLast, div.MsoListNumber4CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber5, li.MsoListNumber5, div.MsoListNumber5
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber5CxSpFirst, li.MsoListNumber5CxSpFirst, div.MsoListNumber5CxSpFirst
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber5CxSpMiddle, li.MsoListNumber5CxSpMiddle, div.MsoListNumber5CxSpMiddle
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListNumber5CxSpLast, li.MsoListNumber5CxSpLast, div.MsoListNumber5CxSpLast
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{mso-style-link:"标题 字符";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-align:center;
	line-height:normal;
	font-size:16.0pt;
	font-family:"等线 Light";
	font-weight:bold;}
p.MsoClosing, li.MsoClosing, div.MsoClosing
	{mso-style-link:"结束语 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoSignature, li.MsoSignature, div.MsoSignature
	{mso-style-link:"签名 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"正文文本 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{mso-style-link:"正文文本缩进 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue, li.MsoListContinue, div.MsoListContinue
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinueCxSpFirst, li.MsoListContinueCxSpFirst, div.MsoListContinueCxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinueCxSpMiddle, li.MsoListContinueCxSpMiddle, div.MsoListContinueCxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinueCxSpLast, li.MsoListContinueCxSpLast, div.MsoListContinueCxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue2, li.MsoListContinue2, div.MsoListContinue2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:42.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue2CxSpFirst, li.MsoListContinue2CxSpFirst, div.MsoListContinue2CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:42.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue2CxSpMiddle, li.MsoListContinue2CxSpMiddle, div.MsoListContinue2CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:42.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue2CxSpLast, li.MsoListContinue2CxSpLast, div.MsoListContinue2CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:42.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue3, li.MsoListContinue3, div.MsoListContinue3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:63.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue3CxSpFirst, li.MsoListContinue3CxSpFirst, div.MsoListContinue3CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:63.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue3CxSpMiddle, li.MsoListContinue3CxSpMiddle, div.MsoListContinue3CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:63.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue3CxSpLast, li.MsoListContinue3CxSpLast, div.MsoListContinue3CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:63.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue4, li.MsoListContinue4, div.MsoListContinue4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:84.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue4CxSpFirst, li.MsoListContinue4CxSpFirst, div.MsoListContinue4CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:84.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue4CxSpMiddle, li.MsoListContinue4CxSpMiddle, div.MsoListContinue4CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:84.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue4CxSpLast, li.MsoListContinue4CxSpLast, div.MsoListContinue4CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:84.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue5, li.MsoListContinue5, div.MsoListContinue5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:105.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue5CxSpFirst, li.MsoListContinue5CxSpFirst, div.MsoListContinue5CxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:105.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue5CxSpMiddle, li.MsoListContinue5CxSpMiddle, div.MsoListContinue5CxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:105.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoListContinue5CxSpLast, li.MsoListContinue5CxSpLast, div.MsoListContinue5CxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:105.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoMessageHeader, li.MsoMessageHeader, div.MsoMessageHeader
	{mso-style-link:"信息标题 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:54.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-54.0pt;
	line-height:normal;
	background:#CCCCCC;
	border:none;
	padding:0cm;
	font-size:12.0pt;
	font-family:"等线 Light";}
p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
	{mso-style-link:"副标题 字符";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-align:center;
	line-height:130%;
	font-size:16.0pt;
	font-family:等线;
	font-weight:bold;}
p.MsoSalutation, li.MsoSalutation, div.MsoSalutation
	{mso-style-link:"称呼 字符";
	margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoDate, li.MsoDate, div.MsoDate
	{mso-style-link:"日期 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:5.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyTextFirstIndent, li.MsoBodyTextFirstIndent, div.MsoBodyTextFirstIndent
	{mso-style-link:"正文文本首行缩进 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyTextFirstIndent2, li.MsoBodyTextFirstIndent2, div.MsoBodyTextFirstIndent2
	{mso-style-link:"正文文本首行缩进 2 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoNoteHeading, li.MsoNoteHeading, div.MsoNoteHeading
	{mso-style-link:"注释标题 字符";
	margin:0cm;
	text-align:center;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{mso-style-link:"正文文本 2 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:200%;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3
	{mso-style-link:"正文文本 3 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:8.0pt;
	font-family:等线;}
p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2
	{mso-style-link:"正文文本缩进 2 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:200%;
	font-size:10.5pt;
	font-family:等线;}
p.MsoBodyTextIndent3, li.MsoBodyTextIndent3, div.MsoBodyTextIndent3
	{mso-style-link:"正文文本缩进 3 字符";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:8.0pt;
	font-family:等线;}
p.MsoBlockText, li.MsoBlockText, div.MsoBlockText
	{margin-top:0cm;
	margin-right:72.0pt;
	margin-bottom:6.0pt;
	margin-left:72.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
a:link, span.MsoHyperlink
	{color:#0563C1;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#704CD9;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{mso-style-link:"文档结构图 字符";
	margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:9.0pt;
	font-family:"Microsoft YaHei UI",sans-serif;}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{mso-style-link:"纯文本 字符";
	margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoAutoSig, li.MsoAutoSig, div.MsoAutoSig
	{mso-style-link:"电子邮件签名 字符";
	margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p
	{margin-right:0cm;
	margin-left:0cm;
	line-height:115%;
	font-size:12.0pt;
	font-family:等线;}
address
	{mso-style-link:"HTML 地址 字符";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;
	font-style:italic;}
pre
	{mso-style-link:"HTML 预设格式 字符";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.0pt;
	font-family:"Courier New";}
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
	{mso-style-link:"批注主题 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;
	font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"批注框文本 字符";
	margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:9.0pt;
	font-family:等线;}
p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoRMPane, li.MsoRMPane, div.MsoRMPane
	{margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin:0cm;
	text-indent:21.0pt;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
p.MsoQuote, li.MsoQuote, div.MsoQuote
	{mso-style-link:"引用 字符";
	margin-top:8.0pt;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	text-align:center;
	line-height:115%;
	font-size:11.0pt;
	font-family:等线;
	color:#404040;
	font-style:italic;}
p.MsoIntenseQuote, li.MsoIntenseQuote, div.MsoIntenseQuote
	{mso-style-link:"明显引用 字符";
	margin-top:18.0pt;
	margin-right:43.2pt;
	margin-bottom:18.0pt;
	margin-left:43.2pt;
	text-align:center;
	line-height:115%;
	border:none;
	padding:0cm;
	font-size:11.0pt;
	font-family:等线;
	color:#2F5496;
	font-style:italic;}
span.MsoSubtleEmphasis
	{color:#404040;
	font-style:italic;}
span.MsoIntenseEmphasis
	{color:#4472C4;
	font-style:italic;}
span.MsoIntenseReference
	{font-variant:small-caps;
	color:#2F5496;
	letter-spacing:.25pt;
	font-weight:bold;}
p.MsoBibliography, li.MsoBibliography, div.MsoBibliography
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading
	{margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	font-weight:bold;}
p.DND, li.DND, div.DND
	{mso-style-name:DND正文;
	mso-style-link:"DND正文 字符";
	margin:0cm;
	text-indent:21.0pt;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
span.DND0
	{mso-style-name:"DND正文 字符";
	mso-style-link:DND正文;
	font-family:等线;}
span.1
	{mso-style-name:"标题 1 字符";
	mso-style-link:"标题 1";
	color:#C00000;
	font-weight:bold;}
p.DND1, li.DND1, div.DND1
	{mso-style-name:DND大标题;
	mso-style-link:"DND大标题 字符";
	margin:0cm;
	line-height:normal;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DND2
	{mso-style-name:"DND大标题 字符";
	mso-style-link:DND大标题;
	color:#C00000;
	font-weight:bold;}
p.DND10, li.DND10, div.DND10
	{mso-style-name:DND大标题1;
	mso-style-link:"DND大标题1 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	text-indent:21.0pt;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DND11
	{mso-style-name:"DND大标题1 字符";
	mso-style-link:DND大标题1;
	color:#C00000;
	font-weight:bold;}
span.a
	{mso-style-name:"副标题 字符";
	mso-style-link:副标题;
	font-weight:bold;}
p.DND3, li.DND3, div.DND3
	{mso-style-name:DND副标题;
	mso-style-link:"DND副标题 字符";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:130%;
	font-size:16.0pt;
	font-family:等线;
	font-weight:bold;}
span.DND4
	{mso-style-name:"DND副标题 字符";
	mso-style-link:DND副标题;
	font-family:等线;
	font-weight:bold;}
span.a0
	{mso-style-name:"标题 字符";
	mso-style-link:标题;
	font-family:"等线 Light";
	font-weight:bold;}
p.DND5, li.DND5, div.DND5
	{mso-style-name:DND强调;
	mso-style-link:"DND强调 字符";
	margin:0cm;
	line-height:normal;
	font-size:15.0pt;
	font-family:等线;
	font-weight:bold;}
span.DND6
	{mso-style-name:"DND强调 字符";
	mso-style-link:DND强调;
	font-family:"等线 Light";
	font-weight:bold;}
span.a1
	{mso-style-name:"页眉 字符";
	mso-style-link:页眉;}
span.a2
	{mso-style-name:"页脚 字符";
	mso-style-link:页脚;}
p.DND7, li.DND7, div.DND7
	{mso-style-name:DND边栏;
	mso-style-link:"DND边栏 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DND8
	{mso-style-name:"DND边栏 字符";
	mso-style-link:DND边栏;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.2
	{mso-style-name:"标题 2 字符";
	mso-style-link:"标题 2";
	color:#C00000;
	font-weight:bold;}
span.3
	{mso-style-name:"标题 3 字符";
	mso-style-link:"标题 3";
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.4
	{mso-style-name:"标题 4 字符";
	mso-style-link:"标题 4";
	color:#C00000;
	font-weight:bold;}
span.a3
	{mso-style-name:"批注文字 字符";
	mso-style-link:批注文字;}
p.msolistparagraph0, li.msolistparagraph0, div.msolistparagraph0
	{mso-style-name:msolistparagraph;
	margin-right:0cm;
	margin-left:0cm;
	line-height:normal;
	font-size:12.0pt;
	font-family:宋体;}
p.10, li.10, div.10
	{mso-style-name:10;
	margin-right:0cm;
	margin-left:0cm;
	line-height:normal;
	font-size:12.0pt;
	font-family:宋体;}
span.a4
	{mso-style-name:"批注主题 字符";
	mso-style-link:批注主题;
	font-weight:bold;}
p.DND9, li.DND9, div.DND9
	{mso-style-name:DND表格;
	mso-style-link:"DND表格 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
span.DNDa
	{mso-style-name:"DND表格 字符";
	mso-style-link:DND表格;
	font-family:等线;}
p.DNDb, li.DNDb, div.DNDb
	{mso-style-name:DND英文标题;
	mso-style-link:"DND英文标题 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	text-indent:21.0pt;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DNDc
	{mso-style-name:"DND英文标题 字符";
	mso-style-link:DND英文标题;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
p.DNDd, li.DNDd, div.DNDd
	{mso-style-name:DND标题;
	mso-style-link:"DND标题 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	text-align:right;
	text-indent:21.0pt;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DNDe
	{mso-style-name:"DND标题 字符";
	mso-style-link:DND标题;
	color:#C00000;
	font-weight:bold;}
p.DNDf, li.DNDf, div.DNDf
	{mso-style-name:DND标题补充;
	mso-style-link:"DND标题补充 字符";
	margin-top:0cm;
	margin-right:5.0pt;
	margin-bottom:0cm;
	margin-left:0cm;
	text-align:right;
	line-height:normal;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DNDf0
	{mso-style-name:"DND标题补充 字符";
	mso-style-link:DND标题补充;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
p.DNDf1, li.DNDf1, div.DNDf1
	{mso-style-name:DND副标题补充;
	mso-style-link:"DND副标题补充 字符";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:130%;
	font-size:16.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DNDf2
	{mso-style-name:"DND副标题补充 字符";
	mso-style-link:DND副标题补充;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
p.DNDf3, li.DNDf3, div.DNDf3
	{mso-style-name:DND表格标题;
	mso-style-link:"DND表格标题 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;
	font-weight:bold;}
span.DNDf4
	{mso-style-name:"DND表格标题 字符";
	mso-style-link:DND表格标题;
	font-family:等线;
	font-weight:bold;}
p.DNDf5, li.DNDf5, div.DNDf5
	{mso-style-name:DND段落标题;
	mso-style-link:"DND段落标题 字符";
	margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:等线;
	color:#C00000;
	font-weight:bold;}
span.DNDf6
	{mso-style-name:"DND段落标题 字符";
	mso-style-link:DND段落标题;
	color:#C00000;
	font-weight:bold;}
span.grame
	{mso-style-name:grame;}
span.a5
	{mso-style-name:"脚注文本 字符";
	mso-style-link:脚注文本;}
span.11
	{mso-style-name:未处理的提及1;
	color:#605E5C;
	background:#E1DFDD;}
span.5
	{mso-style-name:"标题 5 字符";
	mso-style-link:"标题 5";
	font-family:等线;
	font-weight:bold;}
span.6
	{mso-style-name:"标题 6 字符";
	mso-style-link:"标题 6";
	font-family:"Times New Roman",serif;
	color:#2F5496;
	font-weight:bold;}
span.7
	{mso-style-name:"标题 7 字符";
	mso-style-link:"标题 7";
	font-family:"Times New Roman",serif;
	color:#595959;
	font-weight:bold;}
span.8
	{mso-style-name:"标题 8 字符";
	mso-style-link:"标题 8";
	font-family:"Times New Roman",serif;
	color:#595959;}
span.9
	{mso-style-name:"标题 9 字符";
	mso-style-link:"标题 9";
	font-family:"等线 Light";
	color:#595959;}
span.a6
	{mso-style-name:"引用 字符";
	mso-style-link:引用;
	color:#404040;
	font-style:italic;}
span.12
	{mso-style-name:明显强调1;
	color:#2F5496;
	font-style:italic;}
span.a7
	{mso-style-name:"明显引用 字符";
	mso-style-link:明显引用;
	color:#2F5496;
	font-style:italic;}
span.13
	{mso-style-name:明显参考1;
	font-variant:small-caps;
	color:#2F5496;
	letter-spacing:.25pt;
	font-weight:bold;}
p.DNDf7, li.DNDf7, div.DNDf7
	{mso-style-name:DND法术;
	mso-style-link:"DND法术 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;
	color:#7030A0;
	font-weight:bold;}
span.DNDf8
	{mso-style-name:"DND法术 字符";
	mso-style-link:DND法术;
	font-family:等线;
	color:#7030A0;
	font-weight:bold;}
p.msonormal0, li.msonormal0, div.msonormal0
	{mso-style-name:msonormal;
	margin-right:0cm;
	margin-left:0cm;
	line-height:normal;
	font-size:12.0pt;
	font-family:宋体;}
span.bbcsize
	{mso-style-name:bbc_size;}
span.bbccolor
	{mso-style-name:bbc_color;}
p.14, li.14, div.14
	{mso-style-name:修订1;
	margin:0cm;
	line-height:normal;
	font-size:10.5pt;
	font-family:等线;}
span.HTML
	{mso-style-name:"HTML 地址 字符";
	mso-style-link:"HTML 地址";
	font-style:italic;}
span.HTML0
	{mso-style-name:"HTML 预设格式 字符";
	mso-style-link:"HTML 预设格式";
	font-family:"Courier New";}
span.a8
	{mso-style-name:"称呼 字符";
	mso-style-link:称呼;}
span.a9
	{mso-style-name:"纯文本 字符";
	mso-style-link:纯文本;
	font-family:等线;}
span.aa
	{mso-style-name:"电子邮件签名 字符";
	mso-style-link:电子邮件签名;}
span.ab
	{mso-style-name:"宏文本 字符";
	mso-style-link:宏文本;
	font-family:"Courier New";}
span.ac
	{mso-style-name:"结束语 字符";
	mso-style-link:结束语;}
span.ad
	{mso-style-name:"批注框文本 字符";
	mso-style-link:批注框文本;}
span.ae
	{mso-style-name:"签名 字符";
	mso-style-link:签名;}
span.af
	{mso-style-name:"日期 字符";
	mso-style-link:日期;}
span.af0
	{mso-style-name:"尾注文本 字符";
	mso-style-link:尾注文本;}
span.af1
	{mso-style-name:"文档结构图 字符";
	mso-style-link:文档结构图;
	font-family:"Microsoft YaHei UI",sans-serif;}
span.af2
	{mso-style-name:"信息标题 字符";
	mso-style-link:信息标题;
	font-family:"等线 Light";
	background:#CCCCCC;}
span.af3
	{mso-style-name:"正文文本 字符";
	mso-style-link:正文文本;}
span.20
	{mso-style-name:"正文文本 2 字符";
	mso-style-link:"正文文本 2";}
span.30
	{mso-style-name:"正文文本 3 字符";
	mso-style-link:"正文文本 3";}
span.af4
	{mso-style-name:"正文文本首行缩进 字符";
	mso-style-link:正文文本首行缩进;}
span.af5
	{mso-style-name:"正文文本缩进 字符";
	mso-style-link:正文文本缩进;}
span.21
	{mso-style-name:"正文文本首行缩进 2 字符";
	mso-style-link:"正文文本首行缩进 2";}
span.22
	{mso-style-name:"正文文本缩进 2 字符";
	mso-style-link:"正文文本缩进 2";}
span.31
	{mso-style-name:"正文文本缩进 3 字符";
	mso-style-link:"正文文本缩进 3";}
span.af6
	{mso-style-name:"注释标题 字符";
	mso-style-link:注释标题;}
p.DNDf9, li.DNDf9, div.DNDf9
	{mso-style-name:DND数据卡;
	mso-style-link:"DND数据卡 字符";
	margin:0cm;
	line-height:normal;
	font-size:14.0pt;
	font-family:等线;}
span.DNDfa
	{mso-style-name:"DND数据卡 字符";
	mso-style-link:DND数据卡;
	font-family:等线;}
span.msoIns
	{mso-style-name:"";
	text-decoration:underline;
	color:teal;}
span.msoDel
	{mso-style-name:"";
	text-decoration:line-through;
	color:red;}
.MsoChpDefault
	{font-family:等线;}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:36.0pt 36.0pt 36.0pt 36.0pt;
	layout-grid:15.6pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}

