html,body { 
	font-family: Arial, Helvetica, sans-serif;
}
.stat-block{
	display: block;
	margin-left: 22px;
	width: 500px;
	background-color: #F8F8F6;
	box-shadow: 0px 0px 3px 0px #aaa;
	border: 1px solid #d4d0ce;
	border-radius: 5px;
	column-count: 1;
	padding: 15px;
	border-radius: 8px;border:3px double rgb(139,137,136);
}
.stat-block h5,.stat-block h6{
	color: #800000;
	font-weight: bold;
	border-bottom: 1px;
	border-color: #800000;
}
.stat-block h5{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.stat-block h6{
	font-size: 16px;
	margin-top: 4px;
	margin-bottom: -12px;
}
.stat-block .sub-line{
	color: #808080;
	font-style: italic;
	MARGIN-TOP: -15px;
}
.stat-block table{
	width: 100%;
	color: #800000;
	white-space: nowrap;
	border-collapse: collapse
}
.stat-abilities{
	min-width: 500px;
	text-align: center;
	white-space: nowrap;
	border-collapse: collapse
}
.stat-abilities th{
	width: 40px;
	font-size: 12px;
	color: #808080;
}
.stat-abilities td{
	padding: 2px 0px 2px 0px;
}
/*下划线→术语格式*/
U{
	color: #008000;
	font-weight: bold;
	text-decoration: none;
}
/*下划线+斜体→法术格式*/
U EM,U I{
	color: #704CD9;
	font-style: italic;
	font-weight: bold;

}
/*斜体+下划线→魔法物品格式*/
EM U,I U{
	color: #0000ff;
	font-style: italic;
	font-weight: bold;

}
/*粗体+下划线→怪物格式*/
B U,U B,STRONG U,U STRONG{
	color: #ee3300;
	font-style: italic;
	font-weight: bold
}
.stat-block HR{
	HEIGHT: 1px; 
	MARGIN-TOP: -8px; 
	COLOR: #800000;
}