/*仅限2024版本数据卡使用*/
html,body { 
	font-family: Arial, Helvetica, sans-serif;
}
.stat-block{
	margin-left: 22px;
	width: 500px;
	background-color: #F8F8F6;
	padding: 15px;
	border:3px double #808080;
	font-size: 16px;
}
.stat-block h5,.stat-block h6{
	color: #800000;
	font-weight: bold;
	border-bottom: 1px;
	border-color: #800000;
}
.stat-block h5{
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 5px;
	border-bottom: 1px;
	border-color: #800000;
	border-style: none none solid none;
}
.stat-block h6{
	font-size: 18px;
	margin-top: 17px;
	margin-bottom: -12px;
	border-bottom: 1px;
	border-color: #800000;
	border-style: none none solid none;
}
.stat-block .sub-line{
	color: #808080;
	font-style: italic;
	MARGIN-TOP: -3px;
}
.stat-block table{
	width: 100%;
	color: #800000;
	white-space: nowrap;
	border-collapse: collapse;
}
.stat-abilities{
	min-width: 500px;
	text-align: center;
	white-space: nowrap;
	border-collapse: collapse;
	margin-bottom: 15px;
}
.stat-abilities th{
	width: 40px;
	font-size: 12px;
	color: #808080;
}
.stat-abilities td{
	padding: 2px 0px 2px 0px;
	font-size: 16px;
}
.c1{
	BACKGROUND-COLOR:#e9e3d6;
}
.c2{
	BACKGROUND-COLOR: #d8d0c9
}
.c3{
	BACKGROUND-COLOR: #d2d6ce
}
.c4{
	BACKGROUND-COLOR: #cbc6c6
}
/*标题颜色*/
h1{
	color:#800000;
}
h2{
	color:#800000;
	border-bottom: 1px;
	border-color: #b79c61;
	border-style: none none solid none;
}
h3{
	font-size:22px;
	MARGIN-TOP: -15px;
	margin-bottom: 13px;
	color: #808080;
	font-weight: bold;
	font-family: "fangsong","仿宋";
}
/*下划线→术语格式*/
U{
	color: #008000;
	font-weight: bold;
	text-decoration: none;
}
/*下划线+斜体→法术格式*/
U EM,U I{
	color: #704CD9;
	font-style: italic;
	font-weight: bold;
}
/*斜体+下划线→魔法物品格式*/
EM U,I U{
	color: #0000ff;
	font-style: italic;
	font-weight: bold;
}
/*粗体+下划线→怪物格式*/
B U,U B,STRONG U,U STRONG{
	color: #ee3300;
	font-style: italic;
	font-weight: bold
}
/*小纸条*/
.little-paper {          
	padding: 20px;
	border:3px double #9E6859;
	background-color: #FAF0EB;
	font-family: "fangsong","仿宋",Arial, Helvetica, sans-serif;
	font-weight: bold;
	TEXT-ALIGN: center;
	font-size: 16px;
}
/*栖息地与宝藏*/
.HT {
	padding: 5px;
	border-top:3px solid #D1BC90;
	background-color: #F0E9DA;
	MARGIN-TOP: -7px;
	width: 500px;
	font-size: 16px;
}
