/*整体配置*/
html,body {
	font-family: Arial, Helvetica, sans-serif;
}
/*标题颜色*/
h1,h2,h3{
	color:#800000;
}
/*列表聚拢*/
UL {
	margin-top: -16px;
	margin-bottom: -16px;
}
/*下划线→术语格式*/
U{
	color: #008000;
	font-weight: bold;
	text-decoration: none;
}
/*下划线+斜体→法术格式*/
U EM,U I{
	color: #704CD9;
	font-style: italic;
	font-weight: bold;

}
/*斜体+下划线→魔法物品格式*/
EM U,I U{
	color: #0000ff;
	font-style: italic;
	font-weight: bold;

}
/*粗体+下划线→怪物格式*/
B U,U B,STRONG U,U STRONG{
	color: #ee3300;
	font-style: italic;
	font-weight: bold
}
/*法术页使用h4*/
h4 {
    color: #704cd9;
    margin-bottom: -20px;
	font-size: 24px;
}